:root{
    --percent-1: 1%;
    --percent-2: 2%;
    --percent-3: 3%;
    --percent-4: 4%;
    --percent-5: 5%;
    --percent-6: 6%;
    --percent-7: 7%;
    --percent-8: 8%;
    --percent-9: 9%;
    --percent-10: 10%;

    --percent-11: 11%;
    --percent-12: 12%;
    --percent-13: 13%;
    --percent-14: 14%;
    --percent-15: 15%;
    --percent-16: 16%;
    --percent-17: 17%;
    --percent-18: 18%;
    --percent-19: 19%;
    --percent-20: 20%;

    --percent-21: 21%;
    --percent-22: 22%;
    --percent-23: 23%;
    --percent-24: 24%;
    --percent-25: 25%;
    --percent-26: 26%;
    --percent-27: 27%;
    --percent-28: 28%;
    --percent-29: 29%;
    --percent-30: 30%;

    --percent-31: 31%;
    --percent-32: 32%;
    --percent-33: 33%;
    --percent-34: 34%;
    --percent-35: 35%;
    --percent-36: 36%;
    --percent-37: 37%;
    --percent-38: 38%;
    --percent-39: 39%;
    --percent-40: 40%;

    --percent-41: 41%;
    --percent-42: 42%;
    --percent-43: 43%;
    --percent-44: 44%;
    --percent-45: 45%;
    --percent-46: 46%;
    --percent-47: 47%;
    --percent-48: 48%;
    --percent-49: 49%;
    --percent-50: 50%;

    --percent-51: 51%;
    --percent-52: 52%;
    --percent-53: 53%;
    --percent-54: 54%;
    --percent-55: 55%;
    --percent-56: 56%;
    --percent-57: 57%;
    --percent-58: 58%;
    --percent-59: 59%;
    --percent-60: 60%;

    --percent-61: 61%;
    --percent-62: 62%;
    --percent-63: 63%;
    --percent-64: 64%;
    --percent-65: 65%;
    --percent-66: 66%;
    --percent-67: 67%;
    --percent-68: 68%;
    --percent-69: 69%;
    --percent-70: 70%;

    --percent-71: 71%;
    --percent-72: 72%;
    --percent-73: 73%;
    --percent-74: 74%;
    --percent-75: 75%;
    --percent-76: 76%;
    --percent-77: 77%;
    --percent-78: 78%;
    --percent-79: 79%;
    --percent-80: 80%;

    --percent-81: 81%;
    --percent-82: 82%;
    --percent-83: 83%;
    --percent-84: 84%;
    --percent-85: 85%;
    --percent-86: 86%;
    --percent-87: 87%;
    --percent-88: 88%;
    --percent-89: 89%;
    --percent-90: 90%;

    --percent-91: 91%;
    --percent-92: 92%;
    --percent-93: 93%;
    --percent-94: 94%;
    --percent-95: 95%;
    --percent-96: 96%;
    --percent-97: 97%;
    --percent-98: 98%;
    --percent-99: 99%;
    --percent-100: 100%;

    --percent-110: 110%;





    --percent-150: 150%;






    
    
}